    <!-- Header -->
    <header>
	    <div class="header">
	        <div class="container">
	            <div class="row">

	                <div class="col-lg-8 col-lg-offset-2">
	                    <div class="intro-text">
	                        <h1 class="title">A laboratory for data exploration</h1>
	                        <h4 class="info">Using the power of data, visualization, and computing to explore, from the byte to the big bang.</h4>
	                    </div>
	                </div>  

	            <div class="row">
	            	<div class="col-lg-12">
	            		<a class="btn btn-default btn-lg" id="cta" href="projects.html" role="button">See what we're working on <i class="fa fa-long-arrow-right"></i></a>
            		</div>
        		</div>

		<!--         <div class="row">
		        	<div class="col-lg-12 page-scroll" id="top-button">
		        		<a href="#work" class="btn btn-default page-scroll">
		                 	<i class="fa fa-angle-double-down animated" id="top-button"></i>
		                </a>
		            </div>
		        </div> -->

	        </div>
	    </div>  
    </header>
