---
layout: base
---

    <header>
	    <div class="header">
	        <div class="container">
	            <div class="row">
              <h1>{{page['name']}}</h1>
              <h1>{{page['position'] | capitalize }}</h1>
              </div>
	        </div>
	    </div>  
    </header>
<div class="container">
  <div class="row">
    <div class="col-sm-3 col-sm-offset-1">
      <img src="{{page['avatar'] | relative_url}}" style="width:200px;height:200px;"/>
    </div>
    <div class="col-sm-6">
      {{ content }}
    </div>
  </div>

{%if page['projects'].size > 0%}
  <div class="row">
    <div class="col-sm-9 col-sm-offset-1">
      <h2><a href="#projects">Projects</a></h2>
    </div>
  </div>
{%for proj in projects%}
  <div class="row">
    <div class="col-sm-3 col-sm-offset-1">
  {%if proj['logo'] %}<a href="{{proj['website']}}" class="image-link">
    <img src="{{proj['logo']}}" style="width:150px;height:150px;"/>
  </a>{%endif%}
    </div>
    <div class="col-sm-6">
      <h3><a href="{{proj['website']}}">{{proj['_id']}}</a></h3>
  {%if proj['description'] %}{{proj['description']}}{%endif%}
  <ul>{%for pos in proj['team']%}
    <li><b>{{pos['position']}}:</b><i>
      {{pos['begin_month']}} {{pos['begin_year']}} - 
      {{pos['end_month']}} {{pos['end_year'] | default: 'present'}}
    </i></li>
  {%endfor%}</ul>
    </div>
  </div>
{%endfor%}
{%endif%}

  <div class="row">
    <div class="col-sm-9 col-sm-offset-1">
      <h2><a href="#pubs">Recent Publications</a></h2>
    </div>
  </div>
</div>
